:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    width: 100px;
}


.nav-item a{
    color: white;
    margin-right: 10px;
}

.nav-item span i{
    color: white;
}

.foto-menu{
    width: 35px;
    border-radius: 5px;
}

.menu-principal{
    background-color: rgba(0, 0, 0, 0.397);
    padding: 0 40px;
}

.menu-principal a:hover{
    color: rgb(230, 227, 227);
}

/* Filme princial */



.filme-principal{
    background-image: url(/img/capa-smallville.jpg);
    height: 600px;
}

/* .filme-principal{
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa-smallville.jpg'), no-repeat;
    background-size:cover;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} */

.conteudo-filme-principal{
    color: white;
    padding-top: 20%;
}

.filme-principal .container{
    width: 70%;
}

.filme-principal .descricao{
    margin-top: 1%;
    margin-bottom: 30px;
}

.titulo{
    margin-top: 10%;
    font-size: 50px;
}

.botao-assistir{
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
    margin-right: 08px;

    /* cursor */
    cursor:pointer;

    /* Transição */
    transition: .3s ease all;
}

.botao-assistir:hover{
    background-color: rgb(209, 204, 204);
    color: black;
}

.botao-assistir i{
    margin-right: 8px;
}

.botao-mais-informacoes{
    background-color: #6D6D6EB3;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;

    /* cursor */
    cursor:pointer;

    /* Transição */
    transition: .3s ease all;
}

.botao-mais-informacoes:hover{
    background-color: #6d6d6e75;
    color: white;
}

.botao-mais-informacoes i{
    margin-right: 08px;
}

/* Own-Carousel */
.carrosel-filmes{
    /* display: flex;
    height: 400px; */
    margin-top: -30px;
}

.carrosel-filmes p{
    font-size: 18px;
    margin-bottom: 10px;
}

.carrosel-filmes2{
    margin-top: 30px;
}

.carrosel-filmes2 p{
    font-size: 18px;
    margin-bottom: 10px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.border{
    border: 1px red solid;
}